@model IEnumerable<Hw2_EnesBayramAfşar.Models.Kitap>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KitapAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KitapFiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KitapDetay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YayınEvi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KitapAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KitapFiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori.KategoriId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KitapDetay.KitapDetayId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YayınEvi.Konum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KitapId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KitapId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KitapId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
